@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --clr-drk-blue: #00183e;
  --clr-drk-blue2: #021c45;
  --clr-blue: #024bc2;
  --clr-light-blue: #04265da1;
  --clr-light-blue-hover: #3780ef;
  --clr-light-blue-shadow: #04429e;
  --clr-light-blue1: #00b7ff;
  --clr-cyan: cyan;
  --clr-white: #c9e9ff;
  --white: #e1eaf7;
  --font-family-mono: "Oxygen mono", monospace;
  --font-family-sans: Oxygen, sans-serif;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background: rgb(0, 48, 110);
  text-decoration: none;

  scroll-behavior: smooth;
}
nav {
  font-family: var(--font-family-sans);
  padding: 2rem 1rem;
  background: var(--clr-light-blue);
  box-shadow: 0 1px 8px 1px var(--clr-light-blue-shadow);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(30px);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-size: 120%;
  flex-wrap: wrap;
  list-style-type: none;
  flex-flow: wrap row;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}
nav ul li:first-child {
  color: var(--clr-white);
  font-size: 120%;
  text-align: left;
  margin-right: 40rem;
}
nav ul li:first-child :hover {
  text-decoration: none;
  color: rgb(238, 242, 255);
}
nav ul li [class*="fa-"]:hover {
  transform: rotate(390deg);
  transition: 0.9s;
  margin-left: 5px;
}
nav ul li a {
  text-decoration: none;
  color: var(--clr-white);
  font-family: var(--font-family-sans);
}
nav ul li a:hover {
  color: var(--clr-light-blue-hover);
  text-decoration: underline;
}
#intro {
  padding: 9rem 4rem;
  font-family: var(--font-family-sans);
  transform: rotate(-4 deg);
  background-color: var(--clr-drk-blue);
}
#intro h2 {
  color: var(--clr-light-blue1);
  font-size: 4rem;
  font-family: var(--font-family-sans);

  width: 30%;
}
#intro h3 {
  color: var(--clr-white);
  font-size: 1.5rem;
  width: 30%;
  margin-top: 2vh;
}
#intro p {
  color: var(--white);
  width: 60%;
  font-family: roboto;
  font-size: 100%;
  line-height: 3.5vh;
  margin-top: 4vh;
}
img {
  float: right;
  align-items: center;
}
#intro button {
  padding: 20px;
  margin: 0 20px;
  background-color: var(--clr-light-blue);
  border-radius: 8px;
  border: 3px solid var(--clr-light-blue-hover);
  color: var(--white);
  box-shadow: 0px 0px 2px 0.3px var(--clr-light-blue-hover);
  width: 140px;
  font-family: roboto;
  font-size: 1.15rem;
  font-weight: bold;
  text-transform: capitalize;
}
#intro button:hover {
  background: linear-gradient(to right, rgb(32, 125, 218), rgb(81, 124, 252));
  box-shadow: 0px 0px 8px 5px var(--clr-light-blue1);
  transition: 0.4s;
}
#past-life {
  background: var(--clr-drk-blue2);
  color: var(--clr-white);
  padding: 5rem 3rem 3rem 6rem;
  margin: 4rem;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 9px var(--clr-light-blue-shadow);
  scroll-margin-top: 120px;
}
#past-life h2 {
  font-size: 5rem;
  font-family: var(--font-family-sans);
  color: var(--clr-light-blue1);
}
#past-life p {
  width: 55rem;
  font-family: var(--font-family-mono);
  font-size: 1rem;
}
#past-life img {
  height: 560px;
}
#current-life {
  background: #011d4a;
  padding: 0rem 0 0rem 0rem;
  margin: 3rem;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 7px var(--clr-light-blue-shadow);
  flex-grow: wrap row;
  scroll-margin-top: 120px;
}
article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text {
  order: 2;
}

.current-life {
  padding: 3rem 4rem 0rem 2rem;
}
#current-life h2 {
  font-size: 5rem;
  font-family: var(--font-family-sans);
  color: var(--clr-light-blue1);
}
#current-life p {
  font-size: 1rem;
  font-family: var(--font-family-mono);

  color: var(--white);
}

#contact-us {
  padding: 6rem 5rem;
  text-align: center;
  align-items: center;
  background: rgb(2, 15, 62);
}
#contact-us h2 {
  color: var(--clr-light-blue1);
  font-size: 4rem;
  font-family: var(--font-family-sans);
}
#contact-us ul {
  font-size: 3rem;
  display: flex;
  list-style-type: none;
  gap: 2rem;
  color: var(--clr-light-blue-hover);
  justify-content: center;
}
#contact-us ul li:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
#contact-us p {
  font-size: 1rem;
  color: var(--white);
  font-family: var(--font-family-mono);
}
@media (max-width: 850px) {
  nav ul li:first-child {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  #past-life h2 {
    font-size: 2rem;
  }
  #past-life p {
    width: 25rem;
  }
  #past-life img {
    width: 100px;
  }
  #current-life h2 {
    font-size: 2rem;
  }

  #current-life img {
    float: left;
  }
}
